Repository dtsong/biblical-evals: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-lint, web-lint-typecheck, api-tests-coverage, web-tests-coverage, web-build, terraform-validate

api-lint:
  name: API lint + format check
  entry: bash -lc 'cd apps/api && uv run ruff check src tests && uv run ruff format --check src tests'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

web-lint-typecheck:
  name: Web lint + typecheck
  entry: bash -lc 'source ~/.nvm/nvm.sh && nvm use default --silent && pnpm --filter @biblical-evals/web lint && pnpm --filter @biblical-evals/web typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-tests-coverage:
  name: API tests with coverage gate
  entry: bash -lc 'cd apps/api && uv run pytest -v --cov=src --cov-report=term-missing --cov-fail-under=85'
  language: system
  pass_filenames: false
  stages:
  - pre-push

web-tests-coverage:
  name: Web tests with coverage gate
  entry: bash -lc 'source ~/.nvm/nvm.sh && nvm use default --silent && pnpm --filter @biblical-evals/web test:coverage'
  language: system
  pass_filenames: false
  stages:
  - pre-push

web-build:
  name: Web production build
  entry: bash -lc 'source ~/.nvm/nvm.sh && nvm use default --silent && pnpm --filter @biblical-evals/web build'
  language: system
  pass_filenames: false
  stages:
  - pre-push

terraform-validate:
  name: Terraform fmt + validate
  entry: bash -lc 'cd terraform && terraform fmt -check -recursive && terraform init -backend=false && terraform validate'
  language: system
  pass_filenames: false
  stages:
  - pre-push

test(api): add shared conftest fixtures for DB + LiteLLM
  apps/api/tests/conftest.py
  apps/api/tests/test_access_api.py
  apps/api/tests/test_aggregator.py
  apps/api/tests/test_api_more.py
  apps/api/tests/test_api_units.py
  apps/api/tests/test_runners_and_loaders.py
Due: api-lint, api-tests-coverage

feat(api): add deep readiness health endpoint
  apps/api/src/api/health.py
  apps/api/tests/conftest.py
  apps/api/tests/test_health.py
Due: api-lint, api-tests-coverage

test(api): make docs route assertion environment-aware
  apps/api/tests/test_api_routes.py
Due: api-lint, api-tests-coverage

chore(config): standardize on GOOGLE_AI_API_KEY with legacy alias
  apps/api/.env.example
  apps/api/config/models.yaml
  apps/api/src/config.py
  apps/api/src/runners/litellm_runner.py
  scripts/setup-env.sh
Due: api-lint, api-tests-coverage

fix(ci): make Cloud Run deploy verification robust
  .github/workflows/deploy-api.yml
Due: none

feat(ci): add deploy smoke test and rollback guardrails
  .github/workflows/deploy-api.yml
  apps/api/src/api/health.py
  apps/api/tests/test_health.py
Due: api-lint, api-tests-coverage

fix(ci): parse Cloud Run Ready status from JSON
  .github/workflows/deploy-api.yml
Due: none

feat(api): add structured logging with request context
  apps/api/pyproject.toml
  apps/api/src/api/evaluations.py
  apps/api/src/dependencies/auth.py
  apps/api/src/main.py
  apps/api/src/observability/__init__.py
  apps/api/src/observability/context.py
  apps/api/src/observability/logging.py
  apps/api/src/observability/middleware.py
  apps/api/src/runners/litellm_runner.py
  apps/api/tests/test_request_context.py
  apps/api/uv.lock
Due: api-lint, api-tests-coverage

feat(terraform): add uptime checks and alerting for API readiness
  terraform/main.tf
  terraform/monitoring.tf
  terraform/variables.tf
Due: terraform-validate

Path conditions:
  api-lint: any of: ^apps/api/
  web-lint-typecheck: any of: ^(apps/web/|apps/web/package.json|package.json|pnpm-lock.yaml|pnpm-workspace.yaml)
  api-tests-coverage: any of: ^apps/api/
  web-tests-coverage: any of: ^(apps/web/|apps/web/package.json|package.json|pnpm-lock.yaml|pnpm-workspace.yaml)
  web-build: any of: ^(apps/web/|apps/web/package.json|package.json|pnpm-lock.yaml|pnpm-workspace.yaml)
  terraform-validate: any of: ^terraform/
